/*Meyerweb css reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html,
body {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    height: 100vh;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

a:focus, a:hover, button:focus, select, input {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}
.form-control:focus{
    border-color: transparent;
}

section {
    padding: 60px 0 65px;
    clear:  both;
    position:  relative;
}
.section-0{
    padding: 0;
}
/*====================
FONT FACE
====================*/
/*Put Your font face Styles here*/


/*====================
TYPOGRAPHY
====================*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #161e21;
}
h1 {
    font-size: 32px;
    color: #212121;
    font-weight: bold;
}
h2 {
    font-size: 22px;
    line-height: 1.3125;
}
h3 {
    font-size: 24px;
    line-height: 0.875;
}
h4 {
    font-size: 21px;
    line-height: 1;
}
h5 {
    font-size: 18px;
    line-height: 1.16667;
}
h6 {
    font-size: 14px;
    line-height: 1.5;
}
p {
    font-size: 14px;
    line-height: 24px;
}

/*====================
FORM
====================*/
.form .select{
    position: relative;
}
.form .select select, .form input {
    padding: 5px 30px 5px 15px;
    width: 100%;
    height: 48px;
    border-radius: 0;
    background: #fff;
    color: #757575;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none;
    position: relative;
    border-color: #cccccc;
}
.form .select:not(.is-multiple):after {
    content: '';
    border: 0;
    position: absolute;
    top: 50%;
    right: 3px;
    background: url(../img/cars24-sprite.png) no-repeat 0px -23px;
    width: 25px;
    height: 25px;
    margin: -11px 0 0;
    -webkit-transform: none;
    transform: none;
}
.form .input::placeholder{
    color: #666666;
}
/*====================
BUTTON
====================*/
.submitButton {
    height: 49px;
    position: relative;
    width: 100%;
    background: #ec6d1c;
    display: inline-block;
    text-rendering: auto;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border:0;
}
.submitButton:hover, .submitButton:focus {
    color: #fff;
    background: #e5691a;
}
.saveButton, .cancleButton {
    margin: 0 0 5px 0;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    min-height: 40px;
    min-width: 128px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 0;
}

.saveButton {
    background: #ec6d1c;
    color: #fff;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04)
}

.saveButton:hover,
.saveButton:focus {
    background: #e1671a;
    color: #fff;
}

.cancleButton {
    color: #ec6d1c;
}
/*====================
BREADCRUMB
====================*/

.breadcrumb{
    margin-bottom: 0;
    padding: 24px 0 16px;
    background: transparent;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #ec6d1c;
    content: "\f105";
    font-family: fontAwesome;
}
.breadcrumb a{
    font-size: 14px;
    color: #ec6d1c;
}
.breadcrumb-item.active{
    color: #888888;
}
/*====================
TAB NAVIGATION
====================*/
.tabs-nav {
        height: calc(100% - 1px);
    background: #fff;
    border-bottom: 0;
}
.tabs-nav li {
    background: #fff;
    border-right: 1px solid #d6d3d3;
    border-bottom: 1px solid #d6d3d3;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    cursor: pointer;
}
.tabs-nav li.active {
    background-color: #eee;
    border-right: none;
}

.tabs-nav li a {
    padding: 11px  24px 11px;
    font-size: 16px;
    color: #212121;
    display: block;
}
.tab-content {
  padding-top: 10px;
}
/*====================
INNER BANNER
====================*/
.innerBanner {
    padding: 0;
    background: url(../img/banner-bg.jpg) repeat;
    width: 100%;
    max-height: 262px;
}
.innerBanner img {
    vertical-align: bottom;
}
.innerBannerHead {
    border-top: 10px solid #fa982b;
}
.innerBannerHead .title {
    margin-bottom: 0;
    padding: 21px 0 20px 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.aboutBanner {
    background: url(../img/aboutUsBanner.jpg) repeat;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    height: 540px;
    background-position: center;

}
.gray-bg{
    background: #f1f4f7;
}
/*Accordian Menu*/
 .accordionFaq {
    width: 100%;
    background-color: #fff;
}
.accordionHead {
    width: 100%;
    padding: 15px 15px;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    color: #0c4f8d;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    display: table;
    line-height: 1.4;
    position: relative;
    padding-right: 35px;
}
.accordionHead * {
    cursor: pointer;
}
/*.accordionHead h4 {
    line-height: normal;
}
.accordionHead:hover {
    filter: alpha(opacity=80);
    opacity: 0.80;
}*/
.accordionContent {
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #fff;
    display: none;
    color: #716565;
    font-size: 14px; 
}
.accordionContent p{
    margin-top: 10px;
     
}
.accordionContent p:first-child{
    margin-top: 0;
}
.accordionHead.active{
    background: #3981bf;
    color: #fff;
}
.accordionHead:before, .accordionHead.active:before{
    float: right;
    width: 12px;
    height: 12px;
    content: "";
    background: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    position: relative;
    right: -20px;
    top: 5px;
}
.accordionHead.active:before{
    background: url("../img/minus.svg");
    background-size: 12px;
}

/*.accordionHead:before {
    float: right;
    font-family: FontAwesome;
    content:"\f067";
    color: #b2b1b1;
}
.accordionHead.active:before {
    float: right;
    content:"\f068";
    color: #ffffff;
}*/
/*..... Common CSS for Inner Pages .....*/
.pagesWrapp{
    padding: 0;
}
.pagesMain {
    padding: 20px 20px;
    background: #ffffff;
}
.pagesMain p, .infoList li {
    margin-bottom: 18px;
    font-size: 14px;
    color: #000000;
    line-height: 22px;
}
.pagesMain a {
    color: #337ab7;
    text-decoration: underline;
}
.pagesMain a:hover, .pagesMain a:focus {
    color: #23527c;
}
.pagesMain em {
    padding-top: 10px;
    font-size: 14px;
    color: #777777;
    display: block;
    font-style: italic;
}
.headingSmall {
    margin-bottom: 3px;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 600;
    line-height: 20px;
    display: block;

}
.infoList {
    padding-left: 15px;
}
.infoList li {
    margin-bottom: 0;
    padding: 4px 10px;
    list-style-type: disc;
}
.officerName li {
    padding: 2px 5px;
}

@media only screen and (min-width : 600px) and (max-width : 1023px) {
    .innerBannerHead .title {
        padding: 21px 15px 20px 30px;
    }
    .headingSmall{
        font-size: 13px;
        margin-bottom: 5px;
    }
}

/* Other CSS */
.li-height-48{
    line-height: 48px !important;
}
.pad-r-0{
    padding-right: 0;
}
.pad-l-0{
    padding-left: 0;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-10{
    margin-top: 10px;
}

.m-b-18{
    margin-bottom: 18px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-0{
    margin-bottom: 0 !important;
}