
body.index {
    background: #e7f4ff;
}
.site-nav {
    background: #e7f4ff;
    padding: 24px 0 0;
}
.head-nav {
    margin-bottom: 20px;
}
.section-light {
    background: #fff;
}
.section-gray {
    background-color: #eceff1;
}
section h2.section-title {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 21px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.form-footer h2.section-title {
    color: #4a4a4a;
}
section h4.sect-subtitle {
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #555555;
}
/*== Welcome Section ==*/
section.welcome-section {
    padding-top: 0px;
    min-height: 300px;
    padding-bottom: 25px;
}
.welcome-section.top-grad {
    background: #e7f4ff;
    background: -moz-linear-gradient(top, #e7f4ff 0%, #ffffff 43%);
    background: -webkit-linear-gradient(top, #e7f4ff 0%,#ffffff 43%);
    background: linear-gradient(to bottom, #e7f4ff 0%,#ffffff 43%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f4ff', endColorstr='#ffffff',GradientType=0 );
}
.site-nav a.logo {
    color: #757575;
    display: block;
}
.site-nav a.logo:hover,
.site-nav a.logo:focus {
    text-decoration: none;
    color: #757575;
    outline: none;
}
.site-nav a.logo img {
    display: block;
    margin-bottom: 5px;
}
.site-nav a.logo span {
    display: block;
    font-size: 11px;
    line-height: 14px;
}

.header-right{
    display: inline-block;
}
.header-right li {
    display: inline-block;
    line-height: 32px;
    margin-left: 23px;
}
.header-rightli:first-child {
    margin-left: 0;
}
.header-right li a {
    position: relative;
    display: block;
    color: #ea6d2c;
    padding-left: 21px;
    line-height: 32px;
    float: left;
}
.header-right li a:hover,
.header-right li a:focus {
    text-decoration: none;
    color: #ea6d2c;
}
.header-right li a img {
    position: absolute;
    left: -2px;
    top: 5px;
}
.header-right li a span {
    font-size: 18px;
    color: #ea6d2c;
    font-weight: 600;
    display: block;
}
.header-right li small {
    display: block;
    font-size: 13px;
    color: #999;
    line-height: 33px;
    padding-left: 10px;
    float: left;
}

.welcome-text {
    color: #2f74c0;
    font-weight: bold;
    float: left;
    text-align: left;
    font-size: 40px;
    margin-left: 63px;
    margin-top: 85px;
    line-height: normal;
    font-style: italic;
    margin-bottom: 102px;
}
.welcome-image-holder {
    position: relative;
}
.welcome-image {
    position: absolute;
    left: -73px;
    height: 300px;
    z-index: 999;
    width: 100%;
    padding-top: 38px;
}
.welcome-image img {
    max-width: initial;
    position: initial;
}


/*.welcome-image {*/
/*display: block;*/
/*position: relative;*/
/*height: 230px;*/
/*padding-top: 35px;*/
/*}*/
/*.welcome-image img {*/
/*max-width: 100%;*/
/*position: absolute;*/
/*right: 85px;*/
/*}*/

.h-form {
    background: #4b4d4a;
    padding: 35px 0 17px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}
.h-form h3.form-title {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
}
/*== Expert Carousel Section ==*/
section.experts-slider {
    padding: 20px 0 27px;
}
#expertCarousel .carousel-body  {
    position: relative;
}
.carousel-body .expert-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #d8d8d8;
    border: 1px solid #979797;
    display: inline-block;
    float: left;
    overflow: hidden;
}
.carousel-body .expert-image img {
    max-width: 100%;
    display: inline-block;
}
.carousel-body .expert-says {
    width: calc(100% - 128px);
    float: left;
    padding-left: 15px;
}
.carousel-body .expert-says p {
    font-size: 20px;
    color: #555;
    margin: 14px 0 11px;
}
.carousel-body .expert-says h3 {
    font-size: 18px;
    color: #484848;
    font-weight: 600;
}

/*== Why Sell Section ==*/
.why-sell {
    padding: 60px 0 38px;
}
.why-sell .sellBox {
    position: relative;
    background: #fff;
    padding: 16px 75px 16px 32px;
    overflow: hidden;
    width: 100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.why-sell .sellBox h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #333;
    margin: 0;
}
.why-sell .sellBox span.icon {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 65px;
}
.why-sell .sellBox span.icon img {
    max-width: 100%;
}
.why-sell .sellBox span.icon.first {}
.why-sell .sellBox span.icon.second {
    right: 10px;
}
.why-sell .sellBox span.icon.third {
    right: 10px;
}
.why-sell .sellBox span.icon.fourth {
    right: 10px;
}

/*== How It Works ==*/
.work-tabs {}
.work-tabs ul.nav-tabs {
    border: 0;
    text-align: center;
    display: block;
    font-size: 0px;
}
.work-tabs ul.nav-tabs li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.work-tabs ul.nav-tabs li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.work-tabs ul.nav-tabs li {
    margin-bottom: 0;
    width: 270px;
    display: inline-block !important;
}
.work-tabs ul.nav-tabs li a {
    position: relative;
    margin: 0;
    width: auto;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #777;
    border-radius: 0;
    border: 0;
    background: #fff;
    padding: 0 0;
    line-height: 40px;
    border: 1px solid #dadada;
}
.work-tabs ul.nav-tabs li a::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #fff;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 999;
    right: -15px;
    top: 0;
}
.work-tabs ul.nav-tabs li a::after {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #dadada;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 99;
    right: -16px;
    top: 0;
}
.work-tabs ul.nav-tabs li a.active {
    border: 1px solid #bf4809 !important;
    background: #ea6d2c;
    color: #fff;
}
.work-tabs ul.nav-tabs li a.active::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #bf4809;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 99;
    right: -17px;
    top: -1px;
}
.work-tabs ul.nav-tabs li a.active::after {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 16px solid #ea6d2c;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 999;
    right: -16px;
    top: 0;
}

.work-tabs ul.nav-tabs li.last-item a::before,
.work-tabs ul.nav-tabs li.last-item a::after {
    display: none;
}

.work-tabs .tab-content .tab-pane {
    text-align: center;
    padding-top: 30px;
}
.work-tabs .tab-pane p.tab-text {
    font-size: 16px;
    color: #555;
    margin: 0 0 50px;
}

.work-tabs span.howMainImg {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
}

.work-tabs span.howMainImg img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.work-tabs span.howMainImg .absolute-image {
    position: absolute;
}
.work-tabs span.howMainImg .absolute-image img {
    display: block;
}
/*Tab 1*/
.work-tabs span.howMainImg.how-1 img {
    padding-right: 100px;
}
.work-tabs span.howMainImg.how-1 .absolute-image {
    top: 0;
}
/*Tab 2*/
.work-tabs span.howMainImg.how-2 .absolute-image {
    bottom: 0px;
    right: 190px;
}
/*Tab 3*/
.work-tabs span.howMainImg.how-3 .absolute-image {
    top: 10px;
    right: 50%;
    margin-right: -158px;
}
.work-tabs .how-to-btn, .view-blog .how-to-btn {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #ff5f00 !important;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #ff5f00;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
    background: #fff;
}
.work-tabs .how-to-btn:hover,
.work-tabs .how-to-btn:focus,
.work-tabs .how-to-btn:active,
.work-tabs .how-to-btn:visited {
    outline: none;
    box-shadow: none;
}

/*== Preferred Choice Section==*/
section.preferred-choice {
    padding: 50px 0 55px;
}
.preferred-choice h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.36;
    color: #000;
    margin: 0;
}
.preferred-choice h3 {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #265394;
    margin: 0;
}
.preferred-choice h3 span {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #555;
    margin: 0;
}
.preferred-choice .first-choice {
    padding: 0 5%;
}
.preferred-choice .second-choice {padding: 0 10px;}
.preferred-choice .third-choice {}



/*== Customer Slider Section ==*/
section.customers-slider {
    background: #265394;
    padding: 65px 0 65px;
}
section.customers-slider h2.section-title {
    color: #fff;
    margin-bottom: 27px;
}
.customers-slider .slider-image img {
    max-width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.customer-reviews {
    position: relative;
    color: #fff;
    padding: 60px 20px;
}
.customer-reviews:before,
.customer-reviews:after {
    content: '';
    position: absolute;
    width: 75px;
    height: 90px;
    background-size: 30px;
    z-index: -1;
}
.customer-reviews:before {
    top: 5px;
    background: url("../img/quote_img.svg") no-repeat 0 0;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 20px;
}
.customer-reviews:after {
    bottom: 0;
    background: url("../img/quote_img.svg") no-repeat 0 0;
    right: 0;
    bottom: -60px;
}
.customer-reviews p {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: #fff;
    margin: 0;
}
.customer-reviews h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    color: #92a9c9;
    margin: 16px 0 0;
}
.customer-reviews h3 span {
    font-weight: 300;
}

#customerCarousel .carousel-control-next,
#customerCarousel .carousel-control-prev {
    width: 40px;
    opacity: 0.2;
}
#customerCarousel .carousel-control-next {
    background: url("../img/customer-right.png") no-repeat !important;
    background-size: 16px !important;
    background-position: center !important;
    right: -30px;
}
#customerCarousel .carousel-control-prev {
    background: url("../img/customer-left.png") no-repeat !important;
    background-size: 16px !important;
    background-position: center !important;
    left: -30px;
}

/*== Media Section ==*/
section.media-center {
    background: #eceff1 !important;
    padding: 57px 0 60px;
}
.media-center h2.section-title {
    color: #000 !important;
}
span.media-logo {
    display: block;
    text-align: center;
}
span.media-logo img {
    display: block;
    max-width: 100%;
}

/*== Question Section ==*/
.question-section {
    padding: 60px 0 40px;
}
.question-section a.question-title {
    display: block;
    margin: 0;
    padding: 22px 0;
    cursor: pointer;
    position: relative;
    font-family: Arial;
    font-size: 20px;
    line-height: 1.2;
    color: #2d2d2d;
    border-bottom: 1px solid transparent;
}
.question-section a.question-title.collapsed {
    border-bottom: 1px solid #e0e0e0;
}

.question-section a.question-title.collapsed.lastQuestion{
    border-bottom: none ;
}
.question-section .question-title:after {
    content: "";
    position: absolute;
    right: -5px;
    top: 23px;
    width: 20px;
    height: 20px;
    background: url("../img/acc-up.png") no-repeat right;
    background-size: 20px;
}
.question-section .question-title.collapsed:after {
    background: url("../img/acc-down.png") no-repeat top right;
    background-size: 20px;
}
.question-section a.question-title.last-question {
    border-bottom: 0;
}
.question-section a.question-title:hover,
.question-section a.question-title:focus {
    text-decoration: none;
    color: #2d2d2d;
}
.question-section .question-body {
    border-bottom: 1px solid #e0e0e0;
}
.question-section a.question-title.last-question + .question-body {
    border-bottom: 1px solid transparent !important;
}
.question-section .question-body p {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.44;
    text-align: justify;
    color: #787878;
}
.question-section .question-body p:last-child {
    margin-bottom: 25px;
}

section.form-footer {
    background: #f5f5f5;
}


/*=================== Thankyou start ====================*/
.thankYouWrapper {
    padding: 43px 0 30px;
    background: #f8f8f9;
}
.apptTitleWrapper {
    background: url(../img/tick-inside-a-circle.svg) no-repeat 0 0;
    padding: 6px 0 0 70px;
    min-height: 55px;
    margin-left: 53px;
}
.apptTitle {
    margin-bottom: 12px;
    color: #212121;
    letter-spacing: -1.1px; 
}
.rescheduleLink {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #ee7515;
    text-decoration: none;
}
.apptInfoText {
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 4px;
}
.apptInfoList {
    margin-top: 17px;
    /*overflow: hidden;*/
}
.apptInfoForm .disabledControl select {
    background: #e0e0e0;
}
.apptLeftInfo {
    width: 10%;
    background: url(../img/arrow-icon.svg) no-repeat 32px center;
    font-size: 16px;
    color: #525252;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
}
.apptRightInfo {
    width: 85%;
    font-size: 18px;
    line-height: 1.44;
    color: #212121;
    display: inline-block;
}
.apptRightInfo strong {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #212121;
}
.mapDirection {
    margin-top: 23px;
    margin-left: 60px;
    display: inline-block;
    position: relative;
    padding: 12px 16px 12px 55px;
    min-width: 288px;
    background: #ffffff url(../img/mapIcon.svg) no-repeat 16px 6px;
    border: solid 1px #dcdcdc;
    font-size: 16px;
    line-height: 0.88;
    color: #3b3b3b;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.mapDirection:hover{
    color: #3b3b3b;
}

.mapDirection:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 28px;
    background: url(../img/dropdown-icon.svg) no-repeat 0 center;
    height: 22px;
    width: 22px;
    transform: rotate(-90deg);
    transform-origin: right top;
}
.buttonGroup {
    margin-top: 17px;
    clear: both;
    overflow: hidden;
    display: inline-block;
}
.cancleButton:hover,
.cancleButton:focus {
    color: #e1671a;
}

.nextStep {
    padding: 60px 0 20px;
}
.nextStepMainTittle {
    margin-bottom: 25px;
}
.nextStepProcess {
    margin-bottom: 40px;
    padding: 29px 30px 24px 55px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    border: solid 1px #dcdcdc;
}
.spaceLR0 {
    padding-left: 0;
    padding-right: 0;
}
.apptRightInfo .form .b-r-0 select {
    border-right: none;
}
/*Custom Column Width*/
.nextStepProcess [class^="col-sm-2"]{
    max-width: 16%;
}
.nextStepProcess [class^="col-sm-4"]{
    max-width: 27%;
}
.nextStepTittle {
    margin: 48px 0 20px 8px;
    font-size: 20px;
    line-height: 1.35;
    color: #3b3b3b;
    font-weight: 500;
}
.nextStepSubTittle {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13;
    color: #1a5a8a;    
    position: relative;
}
.nextStepSubTittle em {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #757575;
    font-style: normal;
}

.nextStepMandatory {
    padding-right: 25px;
    margin-left: 8px;
    display: inline-block;
    position: relative;
}
.nextStepBestPrice {
    margin-left: 36px;
}
.nextStepList {
    padding-left: 20px;
}
.nextStepList li {
    margin-top: 12px;
    font-size: 14px;
    color: #212121;
    display: block;
   
}
.infoDetail{
    position: relative;
    padding-right: 23px;
    display: inline-block;
}
.missBlock {
    margin-top: 35px;
}
.image img{
    max-width: 100%;
    display: block;
    height: auto;
}
.thanksInfo {
    position: absolute;
    top: 4px;
    right: 0;
    width: 15px;
    height: 15px;
    background: url(../img/info-icon.svg) 0 0 no-repeat;
    cursor: pointer;
}

.nextStepSubText {
    font-size: 13px;
    line-height: 1.38;
    color: #757575;
    margin: 0 0 24px;
}
.thankYouFaq {
    background: #f8f8f9;
    padding: 57px 0 60px;
}
.faqThankTittle {
    margin-bottom: 35px;
}

.thankQues {
    margin-bottom: 15px;
    font-size: 20px;
    color: #787878;
    line-height: 1.2;
}
.thankAns {
    font-size: 18px;
    text-align: justify;
    color: #4a4a4a;
    line-height: 1.44;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px;
    margin-bottom: 22px;
}
.stillUnclear {
    font-size: 18px;
    font-weight: bold;
    line-height: .78;
    letter-spacing: .4px;
    color: #767676;
}
.stillUnclear a {
    color: #ee7515;
    text-decoration: none;
}
.thankAnsBorder0 {
    border-bottom: 0;
}
.moreQueries {
    padding: 50px 15px 46px;
    box-shadow: none;
}
.moreQueriesTittle, .siteMapHead {
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: bold;
    color: #212121;
    line-height: 1;
}
.centerMoreQueries {
    background: url(../img/query-icon.svg) no-repeat 0 center;
    padding-left: 37px;
    display: inline-block;
    line-height: 1.25;
}
.centerMoreQueries a {
    font-size: 32px;
    font-weight: 600;
    color: #ec6d1c;
}
.centerMoreQueries span {
    padding-left: 10px;
    font-size: 16px;
    color: #767676;    
    line-height: 40px;
    vertical-align: top;
}
.arrowRightImg {
    background: url(../img/arrowdown-home.svg) no-repeat 0 0;
    position: absolute;
    top: 0;
    right: -18px;
    width: 16px;
    height: 18px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
/* Tooltip */
.icontooltips {
    width: 280px;
    position: absolute;
    left: 28px;
    padding: 12px 10px 20px 14px;
    top: -50px;
    border: 3px solid #e36101;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #fff;
    z-index: 99;
    cursor: default;
    display: none;
}
.icontooltips::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    background: url(../img/thank-you-arrow.svg) no-repeat 0 0;
    position: absolute;
    z-index: 999999;
    top: 44px;
    left: -16px;
}
.tooltipsRight{
    right: 28px;
    left: auto;
}
.tooltipsRight::before{
   right: -16px; 
   transform: rotate(180deg);
   left: auto;
}
.tooltipsActive{
    display: block;
}
.icontooltips h2 {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #000;
}
.icontooltips p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: Helvetica;
    color: #444;
    font-weight: normal;
}
.tooltipsCross {
    width: 24px;
    height: 24px;
    background: url(../img/close.svg) no-repeat 9px 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
/*========== SEO PAGE CSS ===========*/
.steps{
    padding-bottom: 45px;
}
.seoWrapper{
    padding: 0;
    position: relative; 
}
.seoWrapper img{
    width: 100%;
    height: 480px;
    position: relative;
}
.seoContent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.seoTittle {
    margin-top: 21px;
    font-size: 38px;
    color: #ffffff;
    letter-spacing: 0.8px;
    font-weight: 600;
}
.seoList {
    margin-top: 22px;
}
.seoList li {
    padding-left: 34px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
    letter-spacing: .4px;
    line-height: 1.42;
    background: url(../img/seoCheck.png) no-repeat 0 2px;
}
.nearestBranch  {
    margin-top: 88px;
    padding: 13px 0 22px;
    background: rgba(0,0,0,.5);
}
.nearestBranch h3.form-title{
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
}
.seoDetailWrap {
    padding:0 0 45px;
    background-color: #f3f3f3;
    
}
.seoDetailWrap p{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 24px;
    margin-bottom: 5px;
}
.seoReadmore {
    display: block;
    font-size: 16px;
}
.seoDetailWrap .breadcrumb a {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.14;
    color: #ec6d1c;
}
.seoDetailWrap .breadcrumb-item.active{
    font-weight: 600;
}
.seoSection{
    padding-top: 0;
    padding-bottom: 40px;
}
.title{
    margin-bottom: 45px;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
}
.inspectedBlog .slides li, .recentBlog .slides li{
    padding-bottom: 12px;
    border: solid 1px #999;
    overflow: hidden;
    border-radius: 3px;
}
.inspectedBlogCaption strong, .inspectedBlogCaption span{
    display: block;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: .3px;
    color: #000;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.inspectedBlogCaption, .recentBlogCaption{
    padding-top: 12px;
}
.inspectedBlogCaption span{
    font-weight: normal;
    min-height: 40px;
}

.inspectedBlog .images img, .recentBlog .images img{
    width: 100%;
    height: 100%;
    max-height: 134px;
    object-fit: cover;
    object-position: center;
}
.inspectedBlog .flexslider, .recentBlog .flexslider{
    margin-bottom: 0;
    border: none;
}
.recentBlogCaption a{
    padding: 0 8px;
    font-size: 15px;
    line-height: 1.25;
    letter-spacing: .3px;
    color: #000;
    display: block;
    -webkit-line-clamp: 2;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Direction Nav*/

.inspectedBlog .flex-nav-prev, .inspectedBlog .flex-nav-next,
.recentBlog .flex-nav-prev, .recentBlog .flex-nav-next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 44%;
    left: -17px;  
}
.inspectedBlog .flex-nav-next, .recentBlog .flex-nav-next {
    right: -17px;
    left: auto;
}

.inspectedBlog .flex-nav-prev .flex-prev, .inspectedBlog .flex-nav-next .flex-next,
.recentBlog .flex-nav-prev .flex-prev, .recentBlog .flex-nav-next .flex-next {
    opacity: 1;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    font-size: 0;
}
.flex-direction-nav a:before{
    font-size: 0;
}
.inspectedBlog .flex-nav-prev .flex-prev,
.recentBlog .flex-nav-prev .flex-prev {
    left: 0;
    background-image: url(../img/left-bl.png);
    background-size: 20px;
    background-position: center;
}
.inspectedBlog .flex-nav-next .flex-next,
.recentBlog .flex-nav-next .flex-next {
    right:0;
    background-image: url(../img/right-bl.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.inspectedBlog .flexslider:hover, .inspectedBlog .flex-direction-nav .flex-next, 
.inspectedBlog .flexslider:hover .flex-direction-nav .flex-next,
.recentBlog .flexslider:hover, .recentBlog .flex-direction-nav .flex-next, 
.recentBlog .flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
}
.inspectedBlog .flexslider:hover .flex-direction-nav .flex-prev, .inspectedBlog .flex-direction-nav .flex-next, 
.inspectedBlog .flexslider:hover .flex-direction-nav .flex-next,
.recentBlog .flexslider:hover, .recentBlog .flex-direction-nav .flex-next, 
.recentBlog .flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    left: 0;
}
.findNearestBranch{
    padding-top: 0;
    padding-bottom: 20px;
}

/*========== Autoportal ===========*/
.allianceHeader {
    background: #f5f5f5;
    position: relative;
    border-bottom: 2px solid #d6422c;
}
.AllianceContainer {
    padding-top: 114px;
    padding-bottom: 143px;
    background: #ebeae9 url(../images/bg_light3.jpg) no-repeat scroll 0 0 / cover;
}

/* Autoportal Thankyou*/
.allianceWrapp{
    background: #f8f8f9;
    padding: 10px 0;
}
.allianceSection{
    background: #ffffff;
}
.bookingMessage{
    margin-bottom: 5px;
    font-size: 36px;
    color: #d6422c;
    text-transform: uppercase;
    line-height: normal;
}
.bookingMessageSm{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 300;
    color: #212121;
    line-height: normal;    
}
.bookingMessageSm em{
    font-style: italic;
}
.promocodeMain {
    margin: 0;
    padding: 15px 20px 15px 10px;
    background-color: rgba(173,204,236,.87);
}

.promocodeMain .protext {
    padding: 0 15px 0 42px;
    display: inline-block;
    background: url(../img/promo-code-web.svg) no-repeat 0 8px;
    line-height: 44px;    
    font-size: 18px;
    color: #282828;
}

.promocodeApply {
    height: auto;
    background: #d6422c;
    color: #fff;
    padding: 9px 30px;
    font-size: 16px;
    font-weight: 600;
}
.thankyouLeftWrapp{
    background: #ffffff;
    padding: 20px 20px 0;
}
.calenderBox{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.calenderBox .media-body p, .adderessBox .media-body p {
    font-size: 16px;
    color: #303030;
}
.calenderBox .media-body p{
    font-size: 18px;
    width: 90%;
}
.adderessBox:not(:last-child) {
    margin-bottom: 20px;
}

.media-body strong {
    font-size: 16px;
    color: #ee7515;
    text-transform: uppercase;
    line-height: 18px;
    vertical-align: top;
    font-weight: 700;
}
.media-body strong > em{
    font-style: italic;
}
.findOnMap a {
    color: #128ae7;
    font-size: 14px;
    text-decoration: underline;
}

.documentInsp {
    margin-top: 24px;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    height: 47px;
    line-height: 47px;
    background: #128ae7;
}
.confirmTick li {
    padding-left: 30px;
    margin-top: 5px;
    background: #fff url(../img/ticksConfirm.jpg) no-repeat scroll 0 2px;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
}
.confirmTick .thanksInfo{
    background: url(../img/icon.svg) no-repeat 1px 0;
    margin-left: 5px;
}
.confirmHead {
    color: #3b3a41;
    font-size: 16px;
    padding-bottom: 10px;
    display: block;
    font-style: italic;
    font-weight: 700;
}
.allianceSection .spaceCol {
    padding: 25px 60px;
}
.poweredBy{
    padding: 70px 0;
    font-size: 12px;
    line-height: 2;
    color: rgba(25, 25, 25, 0.87);
}
.poweredBy strong{
    display: block;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
}
/*========== /Autoportal ===========*/

/*=============== CONTACT US ===============*/
.contactWrapp {
    padding: 26px 0 50px;
    background: #fff;
}
.contactWrapp .contactRow {
    padding: 24px 0 0;
}
.contactWrapp .contactRow h3 {
    color: #030303;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 32px;
}
.contactWrapp .contactRow p, .contact-support span {
    margin-bottom: 22px;
    color: #757171;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 26px;
}
.contact-support span {
    margin-bottom: 0;
    text-transform: inherit;
}
.tel-text, .contact-support a {
    color: #ed7119;
    font-size: 19px;
}
.contact-support a {
    color: #18598b;
}
.contact-support a:hover {
    color: #23527c;
    text-decoration: underline;
}

/*=============== ABOUT US ===============*/
.aboutUs {
    padding: 50px 0;
}
.aboutUsBlock {
    margin-bottom: 64px;
}
.aboutHeading {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #212121;
}
.aboutUs p {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    color: #7f7f7f;
}
.aboutUsBlock p {
    margin-bottom: 0;
}
.aboutTittle {
     margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #585a61;
}
/*=============== FAQ ===============*/
.faqWrapp {
    padding-top: 4px;
    padding-bottom: 20px;
}

.faqMain {
    padding-bottom: 4px;
    box-shadow: none;
}

.faqList {
    margin-top: 10px;
    padding-left: 40px;
}

.faqList li, .faqStep, .storeLocated li {
    list-style-type: disc;
}

.faqStep {
    display: block;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #716565;
}

.content .faqListNumber {
    margin: 5px 0 0;
    padding-left: 18px;
}

.faqListNumber {
    margin-top: 8px;
    padding-left: 40px;
}

.content .abc {
    list-style-type: lower-alpha;
}

.storeLocated strong {
    font-size: 18px;
    padding-top: 15px;
    color: #716565;
    display: block;
    letter-spacing: 0.6px;
}

.storeLocated ul {
    padding-left: 40px;
}

.storeLocated li {
    margin-bottom: 10px;
}

.storeLocated li:last-child {
    margin-bottom: 0;
}
/*=============== TERMS & CONDITIONS ===============*/
.conflict {
    text-transform: none;
}

/*=============== BUY CAR ===============*/
.buyCarQuerie {
    line-height: 22px;
    padding-left: 0;
    margin: 0;
    font-size: 18px;
    text-decoration: none;
}
.buyCarQuerie span {
    color: #767676;
}
.buyCarQuerie span>a {
    color: #ff5f00;
    display: block;
    line-height: 25px;
    font-weight: 600;
}
.buyCarWrapper{
    padding: 0; 
    position: relative; 
    font-size: 0;
}
.buyCarWrapper > img{
    height: 454px;
}
.buyCarCon{
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
}
.buyCarTitle {
    margin-bottom: 62px;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}
.buyCarSmall {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}
.buyCarForm{
    width: 518px;
    margin: 0 auto;
}
.buyCarForm .form-control{
    font-size: 12px;
    color: #666666;
    border-right: 0;
}
.buyCarForm .input-group .form-control{
    padding-right: 17px;
    padding-left: 17px;
}
.buyCarForm .input-group:first-child .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
.buyCarForm .mobileN:focus{
    border-color: #ced4da;
}
.sumitionBtn {
    padding-right: 35px;
    padding-left: 35px;
    background: #fff url(../img/btn-rep.png) repeat scroll 0 0;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    font-family: arial;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.carsLogoWrapp {
    padding: 4px 0;
    margin-top: 7.32vw;
    opacity: .4;
    background: #000;
}
.carsLogo{
    font-size: 0;
}
.carsLogo li{
    margin: 0 2px;
    display: inline-block;
}
.whyBuyCar{
    padding: 30px 0 47px;
    background: #f9f9f9; 
}
.whyBuyHeading{
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    color: #212121;
}
.whyBuyCar > .container {
    width: 562px;
}
.usbTittle{
    padding-left: 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.14;
    color: #144870;
}
.whyBuyCar .usbBoxBdr {
    border-right: 1px dashed #ec6d1c;
}
.inlineFlex{
    padding-left: 95px;
}
/*=============== TESTIMONIAL ===============*/

.masonry {
    padding: 24px 0;
    margin: 0;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    font-size: .85em;
}

/* The Masonry Brick */
.item {
    background: #fff;
    padding: 0px;
    margin: 0 0 24px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

/*.testi-img {
    max-width: 100%;
    height: auto;
    display: block;
}*/
.testimonialHead {
    padding: 11px 0 0 10px;
    color: #b8b8b8;
    font-size: 15px;
    line-height: 1.42857143;
    text-transform: uppercase;
}
.testimonialWrap{
    display: inline-block;
    width: 100%;
}
.testimonialWrap img {
    min-width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.testimonialWrap h4, .modalWrapp h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 0 3px 10px;
    text-transform: uppercase;
    width: 100%;
}

.testimonialWrap .testimonialText {
    padding: 10px 10px;
    color: #747474;
    font-size: 12px;
    line-height: 1.4;
/*    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;*/
}

.modalHead {
    padding: 10px 0 0 10px;
    color: #b8b8b8;
    font-size: 20px;
    line-height: 1.42857143;
}
.modalWrapp h4 {
    font-size: 16px;
}

.modalWrapp .testimonialText {
    padding: 0 10px;
    color: #747474;
    font-size: 14px;
    line-height: 20px;
}
.masonry {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
}
@media only screen and (max-width: 700px) and (min-width: 576px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 576px){
    .modalWrapp .modal-dialog {
        max-width: 400px;
    }
}

/*=============== SITE MAP ===============*/
.siteMapHead{
    margin-bottom: 5px;
}

p.listedText{
    font-size: 16px;
    margin-bottom: 30px;
    color: rgba(33, 33,33, 0.7);
}
.listedHead {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #3e3e3e;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
}
.listedHead:after{
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fa982b;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.sitemMapLink {
    margin-bottom: 30px;
}
.sitemMapLink li{
    padding-bottom: 5px;
    position: relative;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    padding-left: 18px;
    background-position: 0 8px;
}
/*.{
    arrow-right.svg
}*/
.sitemMapLink li:last-child{
    padding-bottom: 0;
}
.sitemMapLink li a {
    font-size: 14px;
    color: #105d8f;
    line-height: 1.71;
    text-decoration: none;
    display: inline-block;
}
.sitemMapLink li a:hover{
    text-decoration: underline !important;
    color: #0668a7;
}

/*== Footer Section ==*/
footer {
    padding: 25px 0 10px;
    background: #303030;
}
footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .f-social {
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
    text-align: center;
    font-size: 0px;
}
footer .f-social li {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
}
footer .f-social li a {
    display: block;
    background: transparent;
    color: #303030;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
footer .f-social li a:hover {
}

footer .f-links {}
footer .f-links h3 {
    margin: 0 0 14px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    letter-spacing: .3px;
    color: #fff;
}
footer .f-links ul {
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0;
    font-size: 0px;
}
footer .f-links ul li {
    display: inline-block;
    margin-right: 0px;
    position: relative;
    padding-right: 15px;
}
footer .f-links ul li:after {
    content: '/';
    position: absolute;
    right: 0;
    width: 10px;
    height: 17px;
    color: #ccc;
    z-index: 99;
    top: 5px;
    font-size: 12px;
}
footer .f-links ul li:last-child {
    padding-right: 0;
}
footer .f-links ul li:last-child:after {
    display: none;
}
footer .f-links ul li a {
    font-family: arial;
    display: block;
    font-size: 14px;
    line-height: 1.71;
    color: #e0e0e0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
footer .f-links ul li a:hover {
    color: #f6f6f6;
    text-decoration: none;
}
footer .f-links ul li a.blinking, .sitemMapLink .blinking{
    position: relative;
}
footer .f-links ul li a.blinking span, .sitemMapLink .blinking span {
    position: absolute;
    right: -32px;
    background: #ec6d1c;
    padding: 0px 4px;
    border-radius: 3px;
    top: -4px;
    font-size: 10px;
    color: #fff;
}
/*== Book Form Section ==*/
.home-book-form {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}
.home-book-form.footer {
    margin-top: 23px;
}
.home-book-form form {}
.home-book-form .field {
    display: block;
    float: left;
}
.home-book-form .field.drop {
    width: 125px;
    border-left: 1px solid #ccc;
}
.home-book-form .field.drop:first-child {
    border-left: 1px solid transparent;
}
.home-book-form .field.drop.drop-next {
    position: relative;
}
.home-book-form .field.drop.drop-next::after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: url("../img/home-next.svg") no-repeat;
    top: 50%;
    margin-top: -7px;
    right: -7px;
    z-index: 9;
}
.home-book-form .field .btn-select {
    -webkit-appearance:  none;
    cursor: pointer;
    padding: 5px 15px;
    border: 0;
    line-height: 40px;
    width: 100%;
    font-size: 12px;
    color: #737373;
    text-align: left;
    background: #fff;
    display: block;
}
.home-book-form .first-field .btn-select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.home-book-form .field .btn-select:hover,
.home-book-form .field .btn-select:focus {
    outline: none;
    box-shadow: none;
}
.home-book-form .field .btn-select::after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    background: url("../img/acc-down.png") no-repeat;
    border: 0;
    right: 10px;
    top: 15px;
}
.home-book-form .field .dropdown {}
.home-book-form .field .dropdown-menu {
    width: auto;
    padding: 0;
    margin-top: 0;
}
.home-book-form .field .dropdown-menu .column {
    display: block;
    float: left;
    width: 160px;
    border-right: 1px solid #dedede;
}
.home-book-form .field .dropdown-menu .column:last-child {
    border-right: 1px solid transparent;
}
.home-book-form .field .dropdown-menu .column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.home-book-form .field .dropdown-menu .column ul li {
    display: block;
    line-height: 20px;
    width: 160px;
}
.home-book-form .field .dropdown-menu .column ul li a {
    font-family: Arial;
    box-sizing: border-box;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    line-height: 2.55;
    color: #757575;
    transition: all 0.3s;
}
.home-book-form .field .dropdown-menu .column ul li a:hover {
    text-decoration: none;
    color: #ee7515;
    background: #f5f5f5;
}

.home-book-form .field.text {
    width: 175px;
    border-left: 1px solid #ccc;
    background: #fff;
}
.home-book-form .field.text input.form-control {
    border-radius: 0;
    border: 0;
    height: 40px;
    margin: 5px 0;
    font-size: 12px;
    color: #737373;
}
.home-book-form .field.text input:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}
.home-book-form .submitBtn {
    width: 185px;
    float: right;
}
.home-book-form .submitBtn .btn {
    height: 50px;
    position: relative;
    width: 100%;
    background: #ec6d1c;
    display: block;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
}
.home-book-form .submitBtn .btn:focus,
.home-book-form .submitBtn .btn:active,
.home-book-form .submitBtn .btn:visited {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*Style for tab view*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 100% !important;
        max-width: none;
    }
    section h2.section-title {
        font-size: 26px;
    }
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-image-holder {
        position: relative;
    }
    .welcome-image {
        position: absolute;
        left: 0;
        height: 300px;
        z-index: 999;
        width: 100%;
        overflow: hidden;
        padding-top: 30px;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }
    .h-form {
        padding: 25px 0 30px;
    }
    .home-book-form .field.drop {
        width: 12%;
    }

    .home-book-form .field .btn-select {
        padding: 5px 7%;
    }
    .home-book-form .field .btn-select::after {
        right: 7px;
    }
    .home-book-form .field.text {
        width: 14%;
    }
    .home-book-form .field.text input.form-control {
        padding: 5px 7%;
    }
    .home-book-form .submitBtn {
        width: 14%;
        float: right;
    }
    .carousel-body .expert-image {
        width: 100px;
        height: 100px;
    }
    .carousel-body .expert-says h3 {
        font-size: 16px;
        font-weight: 600;
    }
    .carousel-body .expert-says p {
        font-size: 16px;
        margin: 10px 0 10px;
    }
    .why-sell .sellBox {
        padding: 15px 33% 15px 20px;
    }
    .why-sell .sellBox h4 {
        font-size: 18px;
    }
    .why-sell .sellBox span.icon {bottom: 0;width: 55px;}
    .why-sell .sellBox span.icon img {max-width: 100%}
    .preferred-choice .first-choice {
        padding: 0 20%;
    }
    .preferred-choice h4 {
        font-size: 18px;
    }
    .preferred-choice .second-choice {
        padding: 0 10%;
    }
    .preferred-choice h3 {
        font-size: 22px;
    }
    .customer-reviews:before {
        top: 15px;
        left: 5px;
        background-size: 60px;
    }
    .customer-reviews:after {
        background-size: 60px;
        bottom: -30px;
    }
    #customerCarousel .carousel-control-next {
        right: 0;
    }
    #customerCarousel .carousel-control-prev {
        left: 0;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-text {
        font-size: 190%;
    }
    .welcome-image-holder {
        position: relative;
    }
    .welcome-image {
        padding-top: 22px;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }

    .why-sell .sellBox h4 {
        font-size: 14px;
    }
    .why-sell .sellBox span.icon {
        width: 50px;
    }
    .work-tabs ul.nav-tabs li:first-child,
    .work-tabs ul.nav-tabs li:last-child {
        width: 200px;
    }
    .work-tabs ul.nav-tabs li {
        width: 270px;
    }
    .home-3-tabs ul.nav-tabs li {
        width: 220px !important;
    }
    .customer-reviews {
        padding: 30px 20px;
    }
    .customer-reviews:before {
        top:0;
    }
    .customer-reviews p {
        font-size: 16px;
        line-height: 22px;
    }
    section.customers-slider {
        padding-bottom: 45px;
    }
    section.media-center {
        padding: 45px 0 35px;
    }
    .question-section .question-body p {
        font-size: 16px;
    }

    footer .f-links ul li {
        padding-right: 10px;
    }
    footer .f-links ul li a {
        font-size: 12px;
    }
    footer .f-links ul li:after {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        width: 7px;
        top: 5px;
    }
    footer .f-links ul li a.blinking:before {
        right: -30px;
        background: #ec6d1c;
        padding: 0px 3px;
        border-radius: 3px;
        top: -9px;
        font-size: 10px;
        line-height: 15px;
    }
    .preferred-choice .first-choice {
        padding: 0;
    }

    .home-book-form .field.drop {
        width: 11.5%;
    }
    .home-book-form .field .btn-select {
        padding: 5px 7%;
    }
    .home-book-form .field .btn-select::after {
        right: 5px;
    }
    .home-book-form .field.text {
        width: 14%;
    }
    .home-book-form .field.text input.form-control {
        padding: 5px 7%;
    }
    .home-book-form .submitBtn {
        width: 17%;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-text {
        font-size: 190%;
    }
    .welcome-image-holder {
        position: relative;
    }
    .welcome-image {
        padding-top: 22px;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }

    .why-sell .sellBox h4 {
        font-size: 16px;
    }
    .why-sell .sellBox span.icon {
        width: 45px;
    }
    .customer-reviews {
        padding: 30px 20px;
    }
    .customer-reviews:before {
        top:0;
    }
    .customer-reviews p {
        font-size: 16px;
        line-height: 22px;
    }
    section.customers-slider {
        padding-bottom: 45px;
    }
    section.media-center {
        padding: 45px 0 35px;
    }
    .question-section .question-body p {
        font-size: 16px;
    }

    footer .f-links ul li {
        padding-right: 10px;
    }
    footer .f-links ul li a {
        font-size: 12px;
    }
    footer .f-links ul li:after {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        width: 7px;
        top: 5px;
    }
    footer .f-links ul li a.blinking:before {
        right: -30px;
        background: #ec6d1c;
        padding: 0px 3px;
        border-radius: 3px;
        top: -9px;
        font-size: 10px;
        line-height: 15px;
    }
    .preferred-choice .first-choice {
        padding: 0 13%;
    }

    .home-book-form .field.drop {
        width: 11.5%;
    }
    .home-book-form .field .btn-select {
        padding: 5px 7%;
    }
    .home-book-form .field .btn-select::after {
        right: 5px;
    }
    .home-book-form .field.text {
        width: 14%;
    }
    .home-book-form .field.text input.form-control {
        padding: 5px 7%;
    }
    .home-book-form .submitBtn {
        width: 17%;
    }

    .seoWrapper {
        min-height: 350px;
        background: #22282d;
    }
    .seoWrapper img,.buyCarWrapper > img{
        height: auto;
    }
    .seoTittle, .buyCarTitle, .whyBuyHeading{
        font-size: 26px;
    }
    .seoList li {
        font-size: 18px;
        background-size: 20px;
        padding-left: 35px;
        margin-bottom: 15px;
    }
    .nearestBranch {
        margin-top: 15px;
        margin-top: 0;
        padding-top: 0;
    }
    /*Buy Car*/
    .buyCarForm .input-group .form-control{
        height: 40px;
    }
    .buyCarTitle {
        margin-bottom:20px;
    }
    .buyCarSmall {
        font-size: 16px;
    }
    .carsLogoWrapp {
        margin-top: 30px;
    }
    .carsLogo img {
        width: 40px;
    }
}

@media only screen and (max-width: 768px) {
    section.welcome-section {
        padding-top: 10px;
    }
    .welcome-text {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 100px;
        line-height: normal;
        font-style: italic;
        margin-bottom: 75px;
    }
    section {
        padding: 40px 0 45px;
    }
    .welcome-image {
        position: absolute;
        right: 0;
        height: 300px;
        z-index: 999;
        width: 100%;
        overflow: hidden;
        padding-top: 5px;
        left: initial;
    }
    .welcome-image img {
        max-width: initial;
        position: initial;
    }
    .carousel-body .expert-image {
        width: 95px;
        height: 95px;
        margin-top: 5px;
    }
    .carousel-body .expert-says p {
        font-size: 14px;
    }
    .carousel-body .expert-says h3 {
        font-size: 14px;
    }
    .why-sell .sellBox {
        padding: 10px 45px 10px 15px;
    }
    .why-sell .sellBox h4 {
        font-size: 14px;
    }
    .why-sell .sellBox span.icon {
        width: 45px;
    }
    .why-sell .sellBox span.icon img {
        width: 100%;
    }
    .preferred-choice .first-choice {
        padding: 0 10%;
    }
    .preferred-choice h4 {
        font-size: 18px;
    }
    .preferred-choice .second-choice {
        padding: 0 10%;
    }
    .preferred-choice h3 span {
        font-size: 12px;
    }
    #customerCarousel .carousel-control-next {
        right: 0;
        display: none;
    }
    #customerCarousel .carousel-control-prev {
        left: 0;
        display: none;
    }
    .customer-reviews {
        padding: 30px 20px;
    }
    .home-book-form .field.drop {
        width: 90px;
    }
    .home-book-form .field .btn-select {
        padding: 5px 10px;
    }
    .home-book-form .field.text {
        width: 13%;
    }
    .home-book-form .field .btn-select::after {
        right: 3px;
        top: 10px;
    }
    .home-book-form .submitBtn {
        width: 15%;
    }
    .question-section .question-body p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .container {
        width: 100%;
        max-width: initial;
    }
    .header-right li a span {
        font-size: 14px;
    }
    .homeHeader{
        margin-top: 15px;
    }
    .welcome-text {
        font-size: 26px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .welcome-image {
        right: 0px;
        padding-top: 58px;
        height: 200px;
    }
    .welcome-image img {
        width: 310px;
    }
    .home-book-form .field.drop {
        width: 12%;
    }
    .home-book-form .field .btn-select {
        font-size: 12px;
        line-height: 30px;
    }
    section h2.section-title {
        font-size: 22px;
    }
    .preferred-choice h4 {
        font-size: 14px;
    }
    .preferred-choice h3 {
        font-size: 18px;
    }
    .why-sell .sellBox {
        padding: 10px 30px 10px 10px;
    }
    .why-sell .sellBox h4 {
        font-size: 13px;
    }
    .why-sell .sellBox span.icon.first {
        width: 40px;
    }
    .why-sell .sellBox span.icon.second {
        width: 40px;
        right: 5px;
        bottom: -5px;
    }
    .why-sell .sellBox span.icon.third {
        right: 0;
        width: 40px;
        bottom: 0px;
    }
    .why-sell .sellBox span.icon.fourth {
        right: 5px;
        width: 40px;
    }
    .work-tabs ul.nav-tabs li a {
        font-size: 13px;
    }
    .work-tabs ul.nav-tabs li:first-child,
    .work-tabs ul.nav-tabs li:last-child {
        width: 160px;
    }

    .work-tabs ul.nav-tabs li {
        width: 235px;
    }
    .home-3-tabs ul.nav-tabs li {
        width: 210px !important;
    }
    .work-tabs span.howMainImg.how-2 .absolute-image {
        right: 27px;
    }
    section.customers-slider {
        padding: 50px 0 45px;
    }
    .customer-reviews:before, .customer-reviews:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 45px;
        background-size: 38px;
        z-index: -1;
    }
    .customer-reviews:before {
        left: 0;
        top: 0;
    }
    .customer-reviews:after {
        bottom: -10px;
    }

    .customer-reviews {
        padding: 10px 0;
        min-height: 140px;
    }
    .customer-reviews p {
        font-size: 14px;
        line-height: 20px;
    }
    .customer-reviews h3 {
        margin-top: 10px;
    }
    .home-book-form .submitBtn .btn {
        font-size: 13px;
    }
    .question-section a.question-title {
        padding: 15px 0;
        font-size: 18px;
    }
    .question-section .question-title.collapsed:after {
        top: 15px;
    }

    section.form-footer {
        padding-top: 50px;
    }
    .home-book-form .field.text input.form-control {
        height: 30px;
    }
    .home-book-form .submitBtn .btn {
        height: 40px;
        line-height: 40px;
    }
    footer .f-links ul li {
        padding-right: 10px;
    }
    footer .f-links ul li a {
        font-size: 12px;
    }
    footer .f-links ul li:after {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        width: 7px;
        top: 5px;
    }
    footer .f-links ul li a.blinking:before {
        right: -30px;
        background: #ec6d1c;
        padding: 0px 3px;
        border-radius: 3px;
        top: -9px;
        font-size: 10px;
        line-height: 15px;
    }
    /*Thank You*/
    .apptTitleWrapper{
        margin-left: 23px;
        padding-left: 50px;
        background-size: 36px;
    }
    .apptTitle {
        margin-bottom: 5px;
        font-size: 20px;
    }
    .thankAns {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
    .apptRightInfo, .apptLeftInfo, .thankAns {
        font-size: 14px;
    }
    .thankQues{
        margin-bottom: 7px;
    }
    .apptLeftInfo {
        width: 20%;
    }
    .apptRightInfo {
        width: 78%;
    }
    .apptInfoText{
        margin-top: 0;
    }
    .apptInfoText li:first-child{
        margin-top: 0;
    }
    .mapDirection {
        margin-left: 0;
        min-width: 100%;
    }
    .nextStepMainTittle, .faqThankTittle {
        margin-bottom: 15px;
    }
    .nextStepTittle {
        margin: 18px 0 8px 5px;
        font-size: 17px;
    }
    .nextStepSubTittle {
        margin-left: 10px;
        font-size: 13px;
    }
    .nextStepSubText {
        margin-bottom: 15px;
        text-align: justify !important;
    }
    .nextStepProcess {
        margin-bottom: 20px;
        padding: 20px 20px 20px 35px;
    }
    .missBlock {
        margin-top: 20px;
    }
    .nextStepList{
        padding: 0;
    }
    .infoDetail {
        font-size: 12px;
        line-height: 1.4;
        padding-right: 15px;
    }
    .thankyouMissImg img{
        width: 80px;
    }
    .thankYouFaq{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .thankQues, .stillUnclear, .priceQuoteBlue, .contact-wrapp .card-content h3, .tel-text {
        font-size: 16px;
    }
    .nextStepMandatory .thanksInfo {
        top: 30px;
    }
    .moreQueries{
        padding: 24px 0 15px;
    }
    .moreQueriesTittle, .siteMapHead {
        margin-bottom: 5px;
        font-size: 18px;
    }
    .centerMoreQueries {
        background-size: 22px;
    }
    .centerMoreQueries a {
        font-size: 18px;
        line-height: 40px;
    }
    .nextStepMandatory .icontooltips {
        left: auto;
        right: 28px;
    }
    .nextStepMandatory  .icontooltips::before {
        left: auto;
        right: -16px;
        transform: rotate(180deg);
    }
    .seoWrapper {
        min-height: 280px;
        background: #22282d;
    }
    .seoWrapper img, .buyCarWrapper > img {
        height: auto;
    }
    .seoTittle, .buyCarTitle, .whyBuyHeading{
        font-size: 22px;
    }
    .seoList li {
        font-size: 14px;
        background-size: 16px;
        padding-left: 25px;
        margin-bottom: 10px;
    }
    .nearestBranch {
        margin-top: 15px;
        margin-top: 0;
        padding-top: 0;
    }
    .title {
        margin-bottom: 20px;
        font-size: 22px;
    }
    .allianceSection .spaceCol{
        padding: 20px 30px;
    }
    .bookingMessage{
        font-size: 20px;
    }
    .bookingMessageSm{
        font-size: 16px;
    }
    .promocodeMain .protext{
        padding: 0 0 0 38px;
        font-size: 14px;
        line-height: 22px;
        background-size: 30px;
    }
    .promocodeMain .input-group .form-control {
        font-size: 12px;
        padding-left: 5px;
            border-color: #fff;
    }
    .promocodeApply{
        padding: 8px 8px;
    }
    .confirmTick .thanksInfo {
        background: url(../img/icon.svg) no-repeat 5px 0;
        width: 18px;
    }
    /*About Us*/
    .aboutBanner {
        height: 220px;
        background-position: center center;
    }
    .aboutUsBlock {
        margin-bottom: 30px;
    }
    .aboutUs {
        padding: 24px 0;
    }
    .aboutHeading {
        margin-bottom: 5px;
        font-size: 22px;
    }
    .aboutUs p {
        margin-bottom: 15px;
    }
    /*Buy Car*/
    .buyCarForm .input-group .form-control{
        height: 40px;
    }
    .buyCarTitle {
        margin-bottom: 7px;
    }
    .buyCarSmall {
        font-size: 16px;
    }
    .carsLogoWrapp {
        padding: 4px 0;
        margin-top: 18px;
    }
    .carsLogo img {
        width: 40px;
    }
    .carsLogo li {
        margin: 0 -1px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 580px) {
    .why-sell .sellBox h4 {
        font-size: 16px;
    }
    .thankYouWrapper .saveButton ,
    .thankYouWrapper .cancleButton {
        min-width: 100px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.animated2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake{
    from,to{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    10%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
@keyframes shake{
    from,to{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    10%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
.shake{
    -webkit-animation-name:shake;
    animation-name:shake;
    animation-iteration-count: 1 !important;
}

.blink {
    animation: 1.5s linear infinite blink-effect;
    -moz-animation: 1.5s linear infinite blink-effect;
    -webkit-animation: 1.5s linear infinite blink-effect;
    -o-animation: 1.5s linear infinite blink-effect;
}

@-webkit-keyframes blink-effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes blink-effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}


/*================= appointment page styles ==============*/
.site-nav.alt-nav {
    padding: 10px 0;
    background: #fff;
    position: relative;
    z-index: 9;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    overflow: hidden;
    height: 71px;
}

.alt-nav .header-right li {
    margin: 0 0 6px;
    line-height: 22px;
    height: 22px;
    display: block;
}
.alt-nav .header-right li:last-child {
    margin-bottom: 0;
}
.alt-nav .header-right li a {
    line-height: 22px;
}
.alt-nav .header-right li a img {
    top: 0px;
}
.alt-nav .header-right li small {
    line-height: 22px;
    font-size: 16px;
    color: #767676;
}

/*== Appointment Section==*/
.appointment-section {
    background: #f3f3f3;
    padding: 25px 0 0;
    border-top: 1px solid #ccc;
}
.appointment-left {
    max-width: 555px;
    margin-left: 13px;
    
}
.appointment-left .card {
    background: transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.quoteSection {
    background: #1c5a8c;
    color: #fff;
    padding: 20px 29px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.quoteSection .tab-pane h4 {
    color: #fff;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    display: block;
    margin-bottom: 24px;
    line-height: 26px;
}
.quoteSection .tab-pane span.price-image {
    display: block;
    text-align: center;
}
.quoteSection .tab-pane span.price-image img {}
.quoteSection .nav-pills {
    margin-top: 15px;
}
.quoteSection .nav-pills .nav-item {
    width: 23.35%;
    margin-right: 10px;
}
.quoteSection .nav-pills .nav-item:last-child {
    margin-right: 0;
}
.quoteSection .nav-pills .nav-item a.nav-link {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: 600;
    line-height: 18px;
}
.quoteSection .nav-pills .nav-item a.nav-link:hover {
}
.quoteSection .nav-pills .nav-item a.nav-link.active {
    color: #115a8c;
    background: #fff;
    position: relative;
}
.quoteSection .nav-pills .nav-item a.nav-link.active:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fadbc1;
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
}
.quoteSection .nav-tooltip {
    background: #fadbc1;
    text-align: left;
    color: #232323;
    margin: 15px 0 0;
    padding: 8px;
    font-size: 14px;
}
.quoteSection .nav-tooltip p {
    margin: 0;
    line-height: 18px;
}
.quoteSection .nav-tooltip p a,
.quoteSection .nav-tooltip p a:hover,
.quoteSection .nav-tooltip p a:focus {
    color: #115a8c;
    font-weight: 600;
    text-decoration: none;
}
/*===== Car quote price modal styles ====*/
.car-quote-price {}
.car-quote-price .modal-header {}
.car-quote-price .modal-header .modal-title {}
/*===== Car quote price modal styles ends ====*/
.quote-price {
    padding-left: 5px;
    margin: 70px 0 20px 0;
    text-align: left;
    clear: both;
}
.quote-price p {
    color: #fff;
    font-size: 22px;
    display: inline-block;
    font-weight: 600;
    padding: 15px 20px;
    min-height: 63px;
    -webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    text-align: left;
}
.quote-price p span {
    -webkit-transform: skew(8deg);
    -moz-transform: skew(8deg);
    -o-transform: skew(8deg);
    font-style: italic;
    display: block;
}
.quote-price p small {
    display: block;
    font-size: 11px;
    letter-spacing: 0;
}
.quote-price p.q-title {
    background: #1c5a89;
    margin: 0 0 0 10px;
}
.quote-price p.q-price {
    background: #e56935;
    font-weight: 400;
    padding-bottom: 10px;
    letter-spacing: 0.8px;
}
.topReviews {
    background: #fff;
    padding: 28px 15px;
    text-align: center;
}
.topReviews h2 {
    font-size: 18px;
    color: #212121;
    text-align: center;
    margin: 0 0 36px;
    font-weight: 600;
}
.topReviews .reviews {}
.topReviews .reviews h3 {
    font-size: 17px;
    color: #212121;
    margin: 0;
    font-weight: 600;
}
.topReviews .reviews p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #232323;
}
.appointment-form {
    display: block;
    transition: width 300ms ease-in-out;
    max-width: 350px;
    padding-top: 31px;
    margin-bottom: 25px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.appointment-form h3 {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    font-weight: 600;
    margin: 0;
}
.appointment-form h3 + p {
    font-size: 13px;
    margin: 3px 0 32px;
    text-align: center;
    line-height: 14px;
}
.appointment-form .select-parent {
    border: 1px solid #e5e5e5;
    height: 48px;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 13px;
}
.appointment-form .select-parent.posRel {
    position: relative;
}
.appointment-form .select-parent.disabled {
    background: #f6f6f6;
}
.appointment-form .select-parent.disabled:after {
    background-image: url(../img/acc-down-b.png);
}
.appointment-form .gentleselect-label {
    width: 100% !important;
    border: 0;
    cursor: pointer;
    padding: 5px 30px 5px 15px;
    color: #757575;
    font-size: 12px;
    top: 0;
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: arial;
    height: 48px;
    line-height: 40px;
    font-weight: normal;
    border-radius: 0;
    background: transparent;
}
.appointment-form .select-parent .gentleselect-label:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    right: 10px;
    top: 15px;
    background-image: url(../img/acc-down.png);
}
.appointment-form .select-parent.disabled .gentleselect-label:after {
    background-image: url(../img/acc-down-b.png);
}
.appointment-form .gentleselect-dialog {
    padding: 0;
    position: absolute;
    z-index: 500;
    display: none;
    background-color: transparent;
    border: 0;
    padding-top: 6px !important;
    top: 40px !important;
    margin: 0;
    box-shadow: none;
    width: calc(100% + 2px);
    left: -1px !important;
}
.appointment-form .gentleselect-dialog>ul {
    border-color: #e5e5e5 !important;
    border-top-width: 0 !important;
    background: #fff;
}
.appointment-form .gentleselect-dialog>ul>li:first-child {
    font-weight: bold;
    background: transparent;
    cursor: inherit;
    width: 100% !important;
    display: none;
}
.appointment-form .gentleselect-dialog>ul>li {
    padding: 0 17px;
    font-family: Arial;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 2.55;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5 !important;
}
.appointment-form .gentleselect-dialog > ul > li.selected,
.appointment-form .gentleselect-dialog>ul>li:hover,
.appointment-form .gentleselect-dialog>ul>li:focus {
    color: #ee7515 !important;
    background: #f5f5f5 !important;
}

.appointment-form .input-holder {
    position: relative;
    margin: 4px 0 0;
}
.appointment-form input.form-control {
    margin: 0 0 13px;
    padding-right: 30px;
    border: 0;
    background-color: #fff;
    height: 48px;
    line-height: 48px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    padding-left: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.appointment-form input.form-control:active,
.appointment-form input.form-control:focus {
    outline: none;
    border: 0;
    box-shadow: none;

}
.appointment-form .err-msg {
    color: #ff0000;
    font-size: 14px;
    display: block;
    line-height: 18px;
}
.appointment-form .has-tooltip .tip {
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 14px;
    height: 14px;
    width: 14px;
    margin-top: -7px;
}
.appointment-form .has-tooltip .tooltip-text {
    position: absolute;
    right: -235px;
    width: 245px;
    background: #fff;
    padding: 10px;
    border: 2px solid #e56935;
    font-size: 14px;
    line-height: 19px;
    z-index: 99;
    display: none;
    top: 10px;
}
.appointment-form .has-tooltip .tip:hover + .tooltip-text {
    display: block;
}
.pre-owned {
    display: block;
    margin-top: 27px;
}
.pre-owned p {
    font-size: 14px;
    font-weight: 600;
    display: inherit;
    margin: 0 0 14px;
    color: #323232;
    line-height: 20px;
}
.pre-owned label {
    font-size: 13px;
    margin-bottom: 0;
}
.pre-owned input[type=radio] {
    width: 14px;
    height: 14px;
}
.appointment-form .submit {
    display: block;
    margin-bottom: 10px;
}
.appointment-form .submit-btn {
    height: 49px;
    position: relative;
    width: 100%;
    background: #ec6d1c;
    display: inline-block;
    font-size: 16px;
    letter-spacing: .3px;
    text-rendering: auto;
    border-radius: 5px;
    color: #fff;
    font-family: Helvetica;
    font-weight: 600;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.appointment-form .submit-btn:active,
.appointment-form .submit-btn:visited,
.appointment-form .submit-btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.policy-text {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}
.policy-text a {
    color: #ec6d37;
}
.policy-text a:hover {
    color: #ec6d37;
    text-decoration: none;
}


.seoForm .select-parent{
    border: 1px solid #ccc;
}
.thankyouApt .select-parent:first-child{
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.seoForm .select-parent.disabled {
    background: #e0e0e0;
}
.seoForm .gentleselect-dialog>ul{
    border-bottom: 1px solid #e5e5e5 ;
}
.addressTimeWrapper {
    position: absolute;
    right: -253px;
    top: 0;
}
.at-box {
    color: #4d4d4d;
    width: 220px;
    background: #ffffff;
    border: 1px dotted #aea9a9;
    font-size: 14px;
    padding: 6px 10px;
}
.at-box + .at-box {
    border-top: 0;    
}
.at-box p {
    line-height: 1.4;
    color: #585858;
}
.at-box p strong {
    display: block;
    color: #000;
    margin: 0 0 8px;
    font-weight: 600;
}
.at-box p a {
    text-transform: uppercase;
    display: block;
    margin: 8px 0 0;
    color: #ec6e33;
    text-decoration: none;
    font-weight: 600;
}
.at-box p a:hover,
.at-box p a:focus {
    text-decoration: none;
    outline: none;
    border: 0;
}
/*== Confirm Appointment Popup Styles ==*/

.confirm-appt-modal {}
.confirm-appt-modal .modal-dialog {
    margin-top: 10%;
}
.confirm-appt-modal .modal-body {
    position: relative;
    padding-top: 0;
}
.confirm-appt-modal .modal-body:before {
    height: 5px;
    width: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #ec6e33;
    border-radius: 3px 3px 0px 0px;
}
.confirm-appt-modal .modal-title {
    text-align: center;
    display: block;
    line-height: 40px;
    border-bottom: 2px solid #dcdcdc;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    font-size: 22px;
}
.confirm-appt-modal a.close {
    position: absolute;
    right: 5px;
    top: 25px;
    background: transparent;
    width: 30px;
    height: 30px;
}
.confirm-appt-modal a.close:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.confirmation-form {
    display: block;
    padding: 0 10%;
    overflow: hidden;
    border-bottom: 2px solid #dcdcdc;
}
.confirmation-form h5 {
    text-align: center;
    font-size: 14px;
    color: #303030;
    padding: 15px 0;
    width: 100%;
    display: block;
    line-height: 22px;
}
.confirmation-form .otp-field {
    display: block;
}
.confirmation-form .otp-field input.form-control {
    text-align: center;
    font-size: 14px;
    border: 1px solid #e0e0e0;
}
.confirmation-form .otp-field p.err-msg {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: red;
    margin: 10px 0 0;
}
.change-number {
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 10px 0 10px;
    position: relative;
}
.change-number a {
    color: #ec6e33;
    font-size: 14px;
}
.change-number a:hover,
.change-number a:focus {
    text-decoration: none;
}
.confirm-btn {
    background: #ec6d37;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-weight: 600;
    margin-bottom: 15px;
}
.confirm-btn:hover,
.confirm-btn:focus {
    color: #fff;
    text-decoration: none;
}
.confirm-footer {
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    color: #333;
    line-height: 18px;
}
.confirm-footer span {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: #e36101;
    padding-left: 5px;

    font-style: italic;
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .appointment-form h3 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 992px) and (min-width: 500px) {
    .quote-price {
        width: 400px;
        margin: 0 auto 25px;
        padding: 0;
        text-align: center;
    }
}

/*=========== Branch Pages ==========*/
.branch-pages {
    background-color: #f3f3f3;
    width: 100%;
    min-height: 400px;
}
.breadcrumb {
    padding: 24px 0 16px;
    margin: 0;
    background: transparent;
}
.breadcrumb li {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #888;
}
.breadcrumb li + li {
    margin-left: 20px;
    position: relative;
}
.breadcrumb li + li:before {
    position: absolute;
    content: '';
    background: url("../img/breadcrumb-arr.png") no-repeat;
    width: 20px;
    height: 20px;
    left: -16px;
    top: 0px;
}
.breadcrumb li a {
    color: #ec6d1c;
    display: block;
    line-height: 20px;
}
.breadcrumb li a:hover,
.breadcrumb li a:focus {
    text-decoration: none;
}
.branch-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212121;
    margin: 0 0 16px;
}
.branch-container {
    border: solid 1px #d6d3d3;
    background-color: #eee;
    border-top: 2px solid #d6d3d3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.branch-tabs {
    overflow: hidden;
    position: relative;
}
.branch-tabs .left-nav {
    width: 368px;
    float: left;
    padding-bottom: 251px;
    background: #fff;
}
.branch-tabs .left-nav .nav-link {
    width: 100%;
    display: block;
    border: solid 1px #d6d3d3;
    border-left: 0;
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 46px;
    line-height: 46px;
    letter-spacing: normal;
    text-align: justify;
    color: #212121;
    border-top-color: transparent;
    padding: 0 0 0 23px;
}
.branch-tabs .left-nav .nav-link:first-child {
}
.branch-tabs .left-nav .nav-link.active {
    background-color: #eee;
    border-right: 1px solid transparent;
}
.branch-tabs .right-tab {
    float: left;
    width: calc(100% - 400px);
    margin: 16px;
}
.branch-tabs .map-container {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border: solid 1px #d6d3d3;
    margin-bottom: 16px;
    text-align: center;
    background: #f9f9f9;
}
.branchCard {
    width: 360px;
    position: relative;
    padding: 16px;
    background: #fff;
    border: solid 1px #d6d3d3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    margin: 0 16px 16px 0;
    float: left;
}
.branchCard:nth-child(2n+1) {
    margin-right: 0;
}
.city-container .branchCard {
    margin-right: 0;
    width: 100%;
}
.branchCard a.cardTittle {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0 0 8px;
    display: block;
}
.branchCard a.cardTittle:hover,
.branchCard a.cardTittle:focus {
    text-decoration: none;
    color: initial;
}
.branchCard .cardDesc {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0;
}
.branchCard .cardFooter {
    margin-top: 30px;
    overflow: hidden;
}
.branchCard .bookBtn {
    width: 50%;
    height: 32px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #ec6d1c;
    display: block;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    float: left;
}
.branchCard .bookBtn:hover,
.branchCard .bookBtn:focus {
    text-decoration: none;
    color: #fff;
}
.branchCard .getDir {
    line-height: 32px;
    color: #ec6d1c;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
.branchCard .getDir:hover,
.branchCard .getDir:focus {
    text-decoration: none;
    color: #ec6d1c;
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
    .branch-tabs .left-nav {
        width: 200px;
        padding-bottom: 0;
        background: #fff;
        height: 100%;
    }
    .branch-tabs .right-tab {
        width: calc(100% - 240px);
    }
    .branch-tabs .branchCard {
        width: 100%;
        margin: 0 0 16px 0;
    }
}


/*=========== City Page ==========*/
.city-container {
    overflow: hidden;
}
.city-container .left-container {
    width: 368px;
    float: left;
}
.city-container .left-container .address-card {
    width: 100%;
    position: relative;
    padding: 16px;
    background: #fff;
    border: solid 1px #d6d3d3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0 0 16px 0;
}
.city-container .left-container .address-card h3 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0 0 8px;
}
.city-container .left-container .address-card p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0;
}
.city-container .left-container .address-card a {
    display: block;
    color: #ec6d1c;
    font-size: 14px;
    text-transform: uppercase;
}
.city-container .left-container .address-card a:hover,
.city-container .left-container .address-card a:focus {
    color: #ec6d1c;
    text-decoration: none;
}
.city-container .right-container {
    float: left;
    width: calc(100% - 384px);
    margin: 0 0 0 16px;
}
.city-container .map-card {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border: solid 1px #d6d3d3;
    margin-bottom: 16px;
    text-align: center;
    background: #f9f9f9;
}

.city-appointment-form {
    margin-bottom: 28px;
    background: #fff;
    padding: 16px;
    width: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    float: left;
}
.city-appointment-form h2 {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    margin: 0;
}
.modal-body .city-appointment-form h2 {
    font-size: 24px;
    width: 293px;
    color: #212121;
}
.city-appointment-form h4 {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #555;
    width: 100%;
    margin: 16px 0 8px;
}

.city-appointment-form form {
    margin-bottom: 0;
}
.city-appointment-form .split-drop {
    margin-bottom: 16px;
    height: 50px;
}
.city-appointment-form .split-drop .select-parent {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    float: left;
}
.city-appointment-form .split-drop .select-parent.disabled {
    background: #e0e0e0;
}
.city-appointment-form .split-drop .select-parent:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.city-appointment-form .split-drop .select-parent:first-child:after,
.seoForm .split-drop .select-parent:first-child:after {
    position: absolute;
    content: '';
    background: url("../img/home-next.svg") no-repeat;
    width: 14px;
    height: 14px;
    top: 50%;
    right: -7px;
    z-index: 9;
    margin-top: -7px;
}
.city-appointment-form .split-drop .select-parent:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.city-appointment-form .gentleselect-label {
    font-size: 14px;
}
.city-appointment-form .phone-number {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 14px !important;
}
.city-appointment-form .submitBtn {
    background: #ec6d37;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    margin-top: 16px;
}
.city-appointment-form .submitBtn:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.city-appointment-form .policy-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #757575;
    margin: 16px 0 0;
}
#cityAppointmentModal .modal-body {
    padding: 0;
}
#cityAppointmentModal .modal-body:before {
    display: none;
}
#cityAppointmentModal .modal-dialog {
    max-width: 415px;
}
#cityAppointmentModal .city-appointment-form {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
    .city-container .left-container {
        width: 80%;
        max-width: 450px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
    .city-container .right-container {
        width: 80%;
        margin: 0 auto;
        clear: both;
        float: none;
        max-width: 450px;
        overflow: hidden;
    }
}

/*=========== Alliance Page Styles ==========*/
.alliance-header {
    background: #f5f5f5;
    position: relative;
    border-bottom: 2px solid #ccc;
}
.alliance-header.autoportal {
    border-bottom-color: #d6422c;
}
.alliance-header a {
    display: block;
}
.alliance-header a:hover,
.alliance-header a:focus {
    outline: none;
    border: 0;
    text-decoration: none;
    display: block;
}
.alliance-header a img {
    display: block;
    max-height: 55px
}
.alliance-header .logo-left {}
.alliance-header .logo-right {}
.alliance-header .logo-right a {
    float: right;
}
.alliance-header .logo-right a img {
    margin: 15px 0;
}

.alliance-container {
    display: block;
}
.alliance-container .hero-container {
    display: block;
    padding-top: 114px;
    padding-bottom: 143px;
    background: #ebeae9 url(../img/bg_light3.jpg) no-repeat scroll 0 0 / cover;
}
.alliance-container .hero-container h1 {
    font-size: 48px;
    line-height: normal;
    font-weight: normal;
    font-family: Helvetica;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
}
.alliance-container .hero-container h1 span {
    color: rgba(25, 25, 25, 0.75);
}
.alliance-container .hero-container h1 b {
    color: rgba(25, 25, 25, 0.75);
}
.alliance-container .hero-container h2 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.96;
    letter-spacing: normal;
    text-align: center;
    color: #212121;
    margin: 0 0 25px;
}

.alliance-container .apointmemt-form {
    box-shadow: none;
}
.alliance-container .apointmemt-form .submit-button .btn {
    background-color: #d6422e;
}
.alliance-container .features {
    padding: 30px 0 15px;
    background: #f1f4f7 none repeat scroll 0 0;
    border-top: 1px solid #ccc;
}
.alliance-container .features .feature-box {
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.alliance-container .features .feature-box img {
    display: block;
    margin: 0 auto;
}

.step-row {
    padding: 30px 0px 10px;
}
.step-row .container {
    max-width: 1030px;
}
.step-row h2 {
    color: #303030;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}
.step-row .step {
    border: 1px solid #b4b4b4;
    min-height: 420px;
    margin-bottom: 4px;
}
.step-row .step.step-1 {
    border-right: 0;
}
.step-row .step span.step-image {
    display: block;
    padding-top: 25px;
    text-align: center;
}
.step-row .step span.step-image img {
    display: block;
    margin: 0 auto;
}
.step-row .step h3 {
    margin-bottom: 14px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    min-height: 52px;
    line-height: 31px;
}
.step-row .step h3 b {
    font-style:  italic;
    display: inline-block;
    margin: 0 5px;
}
.step-row .step p {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    color: #303135;
    padding: 0 15px;
}
.powered-by {
    display: block;
    overflow: hidden;
    padding: 60px 0;
    margin-top: 20px;
}
.powered-by h1 {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
}
.powered-by h1 small {
    display: block;
    font-size: 12px;
    line-height: 18px;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .step-row {
        padding: 30px 15px 10px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
    .alliance-container .hero-container {
        padding-top: 85px;
        padding-bottom: 80px;
    }
    .alliance-container .hero-container h1 {
        font-size: 36px;
    }
    .step-row {
        padding: 30px 15px 10px;
    }
    .step-row h2 {
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .step-row .step p {
        padding: 0;
        font-size: 14px;
    }
    .step-row .step h3 {
        font-size: 22px;
    }
    
}
.apointmemt-form {
    display: block;
    font-size: 0px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
}
.apointmemt-form.footer {
    margin-top: 23px;
}
.apointmemt-form form {
    display: block;
    height: 50px;
}
.apointmemt-form .select-parent {
    display: inline-block;
    font-size: 12px;
    position: relative;
    float: left;
}
.apointmemt-form.home-page .select-parent {
    width: 125px;
}
.apointmemt-form .select-parent.next:after {
    position: absolute;
    right: -7px;
    top: 50%;
    content: '';
    height: 14px;
    width: 14px;
    background: url(../img/home-next.svg) no-repeat;
    margin-top: -7px;
    z-index: 9;
}
.apointmemt-form .gentleselect-label {
    display: block;
    border-radius: 0;
    border: 1px solid #ccc;
    border-right: 0;
    line-height: 48px;
    padding: 0 20px 0 10px;
    background: #fff;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.apointmemt-form .gentleselect-label:after {
    position: absolute;
    content: '';
    background: url(../img/acc-down.png) no-repeat;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 15px;
} 
.apointmemt-form .select-parent:first-child .gentleselect-label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.apointmemt-form .gentleselect-dialog {
    box-shadow: none;
    border: 1px solid #ccc;
    left: 0 !important;
    top: 55px !important;
    border-radius: 0px 4px 4px 4px;
    min-width: 126px !important;
    z-index: 9999;
}
.apointmemt-form .gentleselect-dialog:before {
    position: absolute;
    content: '';
    height: 10px;
    background: #fff;
    width: 125px;
    top: -10px;
    z-index: 99;
    left: -1px;
    border-left: 1px solid #ccc;
}
.apointmemt-form .gentleselect-dialog > ul > li {
    font-family: Arial;
    box-sizing: border-box;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    line-height: 2.55;
    color: #757575;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.apointmemt-form .gentleselect-dialog > ul > li:after {
    position: absolute;
    content: '';
    background: #ccc;
    width: 1px;
    height: 30px;
    right: 0;
}
.gentleselect-dummy:after {
    display: none;
}
.apointmemt-form .gentleselect-dialog > ul > li:hover,
.apointmemt-form .gentleselect-dialog > ul > li.selected {
    color: #ee7515;
    background: #f5f5f5;
}
.apointmemt-form .input-holder {
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
    border-right: 0;
    width: 205px;
}
.apointmemt-form .input-holder input {
    padding: 0 10px;
    line-height: 48px;
    border-radius: 0;
    border: 0;
    font-size: 12px;
}
.apointmemt-form .submit-button {
    display: inline-block;
    float: left;
    border: 0;
    width: 185px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.apointmemt-form .submit-button .btn {
    border: 0;
    height: 50px;
    width: 100%;
    background: #ec6d37;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
    .apointmemt-form form {
        height: 40px;
    }
    .apointmemt-form.home-page .select-parent {
        width: 10%;
    }
    .apointmemt-form .input-holder input,
    .apointmemt-form .gentleselect-label {
        padding-left: 7px;
        line-height: 38px;
    }
    .apointmemt-form .gentleselect-label:after {
        top: 10px;
    }
    .apointmemt-form .input-holder {
        width: 20%;
    }
    .apointmemt-form .submit-button {
        width: 20%;
    }
    .apointmemt-form .submit-button .btn {
        height: 40px;
    }
    .apointmemt-form .gentleselect-dialog {
        top: 45px !important;
    }
    .nextStepProcess {
        padding-left: 30px;
    }
    .nextStepProcess [class^="col-sm-4"] {
        max-width: none;        
    }
    .nextStepProcess .spaceLR0 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .nextStepTittle {
        margin: 25px 0 0px 8px;
    }
    .nextStepList {
        padding: 0;
    }
    .nextStepBestPrice {
        margin-top: 25px;
    }
    .nextStepSubTittle {
        margin-top: 25px;
    }
    .arrowRightImg {
        top: 25px;
    }
    .thankQues {
        font-size: 18px;
    }
    .thankAns {
        font-size: 16px;
    }
    .powered-by{
        padding: 0 0 15px;
    }

    .masonary .item {
        width: 30%;
    }
}
@media only screen and (max-width: 992px) and (min-width: 769px) {
    .apointmemt-form.home-page .select-parent {
        width: 10%;
    }
    .apointmemt-form .input-holder input,
    .apointmemt-form .gentleselect-label {
        padding-left: 7px;
    }
    .apointmemt-form .input-holder {
        width: 20%;
    }
    .apointmemt-form .submit-button {
        width: 20%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .apointmemt-form.home-page .select-parent {
        width: 10%;
    }
    .apointmemt-form .input-holder input,
    .apointmemt-form .gentleselect-label {
        padding-left: 7px;
    }
    .apointmemt-form .input-holder {
        width: 20%;
    }
    .apointmemt-form .submit-button {
        width: 20%;
    }
    .seoWrapper {
        min-height: 350px;
        background: #22282d;
    }
    .seoWrapper img {
        height: auto;
    }
    .seoTittle {
        font-size: 26px;
    }
    .seoList li {
        font-size: 18px;
        background-size: 20px;
        padding-left: 35px;
        margin-bottom: 15px;
    }
    .nearestBranch {
        margin-top: 0;
        padding-top: 0;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .apointmemt-form.home-page .select-parent {
        width: 10%;
    }
    .apointmemt-form .input-holder input,
    .apointmemt-form .gentleselect-label {
        padding-left: 7px;
    }
    .apointmemt-form .input-holder {
        width: 20%;
    }
    .apointmemt-form .submit-button {
        width: 20%;
    }

    .seoWrapper {
        height: 350px;
        background: #22282d;
    }
    .seoWrapper img {
        height: auto;
    }
    .seoTittle {
        font-size: 26px;
    }
    .seoList li {
        font-size: 18px;
        background-size: 20px;
        padding-left: 35px;
        margin-bottom: 15px;
    }
    .nearestBranch {
        margin-top: 25px;
        padding-top: 0;
    }
}



body.home-3 section.welcome-section {
    padding-bottom: 0;
}
